.wifiIconClass{
    font-size: 60px;
    color: #A2C624;
}
ion-card {
  background: #36B17B;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 7px;
  }
  
  .card-title {
    // position: absolute;
    // top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }