div{
  margin:70px 0 70px 25px;
  color: #0BAF58;
}
.checkClsG {
  margin-right: 6%;
  border-bottom: 2px solid green;
  font-size: 1.1em;
  color: #1e854e;
}

.listClsG {
  margin-right: 6%;
  border-bottom: 2px solid green;
  font-size: 1.1em;
  color: #1e854e;
  margin-left: 5px;
}
.filterRow{
  margin-top: 10px;
}
.col4Cls{
  padding: 10px;border: 0.1rem solid #eaeaea;
}

.col4Cls1{
  padding: 10px;
  border-right: 0.1rem solid #eaeaea;
  border-bottom: 0.1rem solid #eaeaea;
}

.col4Cls3{
  padding: 10px;
  border-left: 0.1rem solid #eaeaea;
  border-bottom: 0.1rem solid #eaeaea;
}

.col4Cls7{
  padding: 10px;
  border-right: 0.1rem solid #eaeaea;
  border-top: 0.1rem solid #eaeaea;

}

.col4Cls9{
  padding: 10px;
  border-left: 0.1rem solid #eaeaea;
  border-top: 0.1rem solid #eaeaea;

}

.textCls{
   font-weight: 600;font-size: 10px}

