<!--
<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-row *ngIf="httpClient.currentLanguage=='english'" style="background-color: white">
      <ion-col size="12" class="ion-text-center colSet">
        <p style="font-size: 1em">{{farmerName}}</p>
        <span style="color: #969696;font-size: 0.8em;"> Village : </span><span
              style="color: black;font-size: 0.8em;">{{village}} ,</span>
        <span style="color: #969696;font-size: 0.8em;"> Tehsil : </span><span
              style="color: black;font-size: 0.8em;">{{block}}</span>
        <span style="color: #969696;font-size: 0.8em;"> District : </span><span
              style="color: black;font-size: 0.8em;">{{district}}</span>
      </ion-col>
      &lt;!&ndash;      <ion-col col-3>&ndash;&gt;
      &lt;!&ndash;        <span style="font-size: 0.7em;color: #00AB50;font-weight: 700">{{creationDate}}</span>&ndash;&gt;
      &lt;!&ndash;      </ion-col>&ndash;&gt;
    </ion-row>
    <ion-row *ngIf="httpClient.currentLanguage=='hindi'" style="background-color: white">

      <ion-col size="12" class="ion-text-center colSet">
        <p style="font-size: 1em">{{farmerNameH}}</p>
        <span style="color: #969696;font-size: 0.8em;"> गाँव : </span><span
              style="color: black;font-size: 0.8em;">{{villageH}} ,</span>
        <span style="color: #969696;font-size: 0.8em;"> ब्लॉक : </span><span
              style="color: black;font-size: 0.8em;">{{blockH}}</span>
        <span style="color: #969696;font-size: 0.8em;"> जिला : </span><span
              style="color: black;font-size: 0.8em;">{{districtH}}</span>

      </ion-col>
      &lt;!&ndash;      <ion-col col-3>&ndash;&gt;
      &lt;!&ndash;        <span style="font-size: 0.7em;color: #00AB50;font-weight: 700">{{creationDate}}</span>&ndash;&gt;
      &lt;!&ndash;      </ion-col>&ndash;&gt;
    </ion-row>
    <ion-buttons class="ion-text-end">
      <ion-button (click)="httpClient.changeLanguage()">
        <div style="display: inline-table;">
          <span style="font-size: 0.7em;color: #00AB50;font-weight: 700;margin-top: 4px">{{creationDate}}</span><br>
          <span class="lang_change" *ngIf="httpClient.currentLanguage=='english'">A<span
                  class="lang_change_color">/अ</span></span>
          <span class="lang_change" *ngIf="httpClient.currentLanguage=='hindi'">अ<span
                  class="lang_change_color">/A</span></span>
        </div>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>
-->
<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div *ngIf="httpClient.currentLanguage=='english'" class="ion-text-center paddingLeftRight">
      <p style="font-size: 1em">{{farmerName}}</p>
      <span style="color: #969696;font-size: 0.8em;"> Village : </span><span
        style="color: black;font-size: 0.8em;">{{village}} ,</span>
      <span style="color: #969696;font-size: 0.8em;"> Tehsil : </span><span
        style="color: black;font-size: 0.8em;">{{block}}</span>
      <span style="color: #969696;font-size: 0.8em;"> District : </span><span
        style="color: black;font-size: 0.8em;">{{district}}</span>
    </div>
    <div *ngIf="httpClient.currentLanguage=='hindi'" class="ion-text-center paddingLeftRight">
      <p style="font-size: 1em">{{farmerNameH}}</p>
      <span style="color: #969696;font-size: 0.8em;"> गाँव : </span><span
        style="color: black;font-size: 0.8em;">{{villageH}} ,</span>
      <span style="color: #969696;font-size: 0.8em;"> तहसील : </span><span
        style="color: black;font-size: 0.8em;">{{blockH}}</span>
      <span style="color: #969696;font-size: 0.8em;"> जिला : </span><span
        style="color: black;font-size: 0.8em;">{{districtH}}</span>
    </div>
    <div slot="end" (click)="httpClient.changeLanguage()" class="ion-text-center paddingLeftRight">
      <span style="font-size: 0.7em;color: #00AB50;font-weight: 700;margin-top: 4px">{{creationDate}}</span><br>
      <span class="lang_change" *ngIf="httpClient.currentLanguage=='english'">A<span
          class="lang_change_color">/अ</span></span>
      <span class="lang_change" *ngIf="httpClient.currentLanguage=='hindi'">अ<span
          class="lang_change_color">/A</span></span>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="httpClient.currentLanguage=='english'">
    <ion-list>
      <ion-row class="ion-padding-top" style="background-color:#eaeaea;padding-bottom: 0">
        <ion-col size="4" class="ion-text-center">
          <img alt="userimg" src="{{farmerPhoto}}" width="70px" height="70px" style="border-radius: 180px" />

        </ion-col>

        <ion-col size="8">
          <ion-row>
            <ion-col size="12" class="ion-no-padding"><span
                style="font-size: 1.0em;font-weight: 700">{{farmerName}}</span></ion-col>
            <ion-col size="12" class="ion-no-padding"><span style="font-size: 0.9em;color: #8b8b8b"
                class="ion-text-wrap">Father Name : <span style="color: black">{{fatherName}}</span></span>
            </ion-col>
            <ion-col size="12" class="ion-no-padding"><span style="font-size: 0.9em;color: #8b8b8b"
                class="ion-text-wrap">Reg. No. : <span style="color: black">{{applicationNo}}</span></span>
            </ion-col>
            <ion-col class="ion-no-padding" size="12">
              <ion-buttons *ngIf="mobileNo">
                <ion-button class="mobileBtn">
                  <span>+91 &nbsp;{{mobileNo}}</span>
                </ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="colRow">
        <ion-col size="12" class="ion-padding">
          <span>Khasra Number : </span>
          <span><b>{{khasraNo}}</b> </span>
        </ion-col>
        <ion-col size="12" class="ion-padding">
          <span>Total Land : </span>
          <span><b>{{totalLandArea}}</b> </span>
        </ion-col>
        <ion-col size="12" class="ion-padding">
          <span>Farmer Category : </span>
          <span><b>{{farmCategory}}</b> </span>
        </ion-col>
        <ion-col size="12" class="ion-padding" *ngIf="subsidySchemeId!='3'">
          <span>Sprinkler / Drip Irrigation : </span>
          <span><b>{{isSprinkler}}</b> </span>
        </ion-col>
        <ion-col *ngIf="subsidySchemeId!='4' || subsidySchemeId!='3'" size="12" class="ion-padding">
          <span>{{schemeName}} Category Selection: </span>
          <span><b>{{farmPondCategory}}</b> </span>
        </ion-col>
        <ion-col *ngIf="subsidySchemeId=='4'" size="12" class="ion-padding">
          <span>Water Storage capacity : </span>
          <span><b>{{farmPondCategory}}</b> </span>
        </ion-col>
        <ion-col *ngIf="subsidySchemeId=='4'" size="12" class="ion-padding">
          <span>Shape of water storage : </span>
          <span><b>{{shape}}</b> </span>
        </ion-col>
        <!--  <ion-col size="12" class="ion-padding">
           <span >Kachha/Pakka Bill Amount: </span>
           <span ><b>{{farmPondCategory}}</b> </span>
         </ion-col>
         <ion-col size="12" class="ion-padding">
           <span >Dimention of Farm Pond: </span>
           <span ><b>{{farmPondCategory}}</b> </span>
         </ion-col>-->
      </ion-row>

    </ion-list>

    <div *ngIf="statusAssignPending!='Assigned'">
      <form *ngIf="listLength>1" #validSubmit="ngForm" (ngSubmit)="saveAssignAS()">
        <ion-item>
          <ion-label position="floating">Forward to</ion-label>
          <ion-select class="ion-text-wrap" [(ngModel)]="asListId" name="asListId" (ionChange)="onAsClick()" required>
            <ion-select-option *ngFor="let data of getAsListData" value="{{data.UserId}}">{{data.OfficerNameEn}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-row>
          <ion-col size="12">
            <ion-buttons>
              <ion-button class="assign_btn" type="submit" [disabled]="!validSubmit.valid">Submit</ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </form>
      <div *ngIf="listLength==1">

        <ion-item>
          <ion-label position="stacked" style="color: #000000">Forward to</ion-label>
          <ion-input style="font-size: 0.8em;color: #000000" [ngModel]="asName" disabled></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-buttons>
              <ion-button class="assign_btn" type="button" (click)="saveAssignAS()">Submit</ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </div>
    </div>


    <div *ngIf="statusAssignPending=='Assigned'">
      <ion-item>
        <ion-label position="stacked" style="color: black;"><b>Forwarded to</b></ion-label>
        <ion-input [(ngModel)]="assignedToNameHi" disabled></ion-input>

      </ion-item>


    </div>
  </div>
  <div *ngIf="httpClient.currentLanguage=='hindi'">
    <ion-list>
      <ion-row class="ion-padding-top" style="background-color:#eaeaea;padding-bottom: 0">
        <ion-col size="4" class="ion-text-center">
          <img alt="userimg" src="{{farmerPhoto}}" width="70px" height="70px" style="border-radius: 180px" />

        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-col size="12" class="ion-no-padding"><span
                style="font-size: 1.0em;font-weight: 700">{{farmerName}}</span></ion-col>
            <ion-col size="12" class="ion-no-padding"><span style="font-size: 0.9em;color: #8b8b8b"
                class="ion-text-wrap">पिता का नाम : <span style="color: black">{{fatherName}}</span></span>
            </ion-col>
            <ion-col size="12" class="ion-no-padding"><span style="font-size: 0.9em;color: #8b8b8b"
                class="ion-text-wrap">पंजीकरण संख्या : <span style="color: black">{{applicationNo}}</span></span>
            </ion-col>
            <ion-col class="ion-no-padding" size="12">
              <ion-buttons *ngIf="mobileNo">
                <ion-button class="mobileBtn">
                  <span>+91 &nbsp;{{mobileNo}}</span>
                </ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="colRow">
        <ion-col size="12" class="ion-padding">
          <span>खसरा नंबर : </span>
          <span><b>{{khasraNo}}</b> </span>
        </ion-col>
        <ion-col size="12" class="ion-padding">
          <span>कुल भूमि ( हेक्टेयर ) : </span>
          <span><b>{{totalLandArea}}</b> </span>
        </ion-col>
        <ion-col size="12" class="ion-padding">
          <span>किसान श्रेणी : </span>
          <span><b>{{farmCategory}}</b> </span>
        </ion-col>
        <ion-col size="12" class="ion-padding" *ngIf="subsidySchemeId!='3'">
          <span>फव्वारा / ड्रिप सिंचाई : </span>
          <span><b>{{isSprinkler}}</b> </span>
        </ion-col>
        <ion-col *ngIf="subsidySchemeId!='3'" size="12" class="ion-padding">
          <span>{{schemeNameHnd}} श्रेणी चयन : </span>
          <span><b>{{farmPondCategory}}</b> </span>
        </ion-col>
        <ion-col *ngIf="subsidySchemeId=='4'" size="12" class="ion-padding">
          <span>जल संग्रहण क्षमता : </span>
          <span><b>{{farmPondCategory}}</b> </span>
        </ion-col>
        <ion-col *ngIf="subsidySchemeId=='4'" size="12" class="ion-padding">
          <span>जल संग्रहण का आकार : </span>
          <span><b>{{shape}}</b> </span>
        </ion-col>
        <!--  <ion-col size="12" class="ion-padding">
           <span >Kachha/Pakka Bill Amount: </span>
           <span ><b>{{farmPondCategory}}</b> </span>
         </ion-col>
         <ion-col size="12" class="ion-padding">
           <span >Dimention of Farm Pond: </span>
           <span ><b>{{farmPondCategory}}</b> </span>
         </ion-col>-->
      </ion-row>

    </ion-list>
    <div *ngIf="statusAssignPending!='Assigned'">
      <form *ngIf="listLength > 1" #validSubmit="ngForm" (ngSubmit)="saveAssignAS()">
        <ion-item>
          <ion-label position="floating">आगे प्रेषित करें</ion-label>
          <ion-select class="ion-text-wrap" [(ngModel)]="asListId" name="asListId" (ionChange)="onAsClick()" required>
            <ion-select-option *ngFor="let data of getAsListData" value="{{data.UserId}}">{{data.OfficerNameHi}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-row>
          <ion-col size="12">
            <ion-buttons>
              <ion-button class="assign_btn" type="submit" [disabled]="!validSubmit.valid">जमा करें</ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </form>

      <div *ngIf="listLength==1">
        <ion-item>
          <ion-label position="stacked" style="color: #000000">आगे प्रेषित करें</ion-label>
          <ion-input style="font-size: 0.8em;color: #000000" [ngModel]="asNameHi" disabled></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-buttons>
              <ion-button class="assign_btn" type="button" (click)="saveAssignAS()">जमा करें</ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div *ngIf="statusAssignPending=='Assigned'">
      <ion-item>
        <ion-label position="stacked" style="color: black;"><b>अग्रेषित</b></ion-label>
        <ion-input [(ngModel)]="assignedToNameHi" disabled></ion-input>

      </ion-item>
    </div>
  </div>
</ion-content>