.toolbar-background-md {
  background: #ffffff;
}

.toolbar-title-md {
  color: #00AB50;
}

.toolbar-title-ios {
  color: #00AB50;
}

b, strong {
  font-weight: 600;
}

ion-buttons {
  font-size: 1rem;
}

ion-select {
  width: 100%;
  max-width: 100% !important;
  padding-left: 0px;
}

.select-md {
  padding: 1px 47px 21px 2px;
}

.bar-button-md {
  height: 42px;
}

.button-md {
  background-color: white;
}

.button-ios {
  background-color: white;
}

.button-small-md {
  height: 1.9em;
  font-size: 1.1rem;
  padding: 0 0.9em;
}

.button-small-ios {
  height: 1.9em;
  font-size: 1.1rem;
  padding: 0 0.9em;
}

.subsidyRowCls {
  border-bottom: 1px solid #f4f4f4;
  padding-top: 12px;
  padding-right: 17px;
}

span.lang_change {
  color: #59AD1C;
  font-weight: 400;
}

span.lang_change_color {
  color: #647B8C;
  font-weight: 400;
}

.callBtn {
  border: 1px solid #00AB50;
  border-radius: 5px;
  box-shadow: none;
  height: 23px;
  width: 63px;
  text-transform: capitalize;
  margin-left: 9px;
}
.colHead{
  padding: 10px;
  box-shadow: 1px 1px 1px #eeeeee;
}
