ion-header.header.header-md {
  min-height: 55px;
  background: #fff;
  padding-top: 4px;
}


.toolbar-md-light .toolbar-background-md {
  background: #ffffff;
}

.scroll-content {
  padding: 1px;
}

.toolbar-md {
  min-height: 0;
  padding: 0;

}

.button-md {
  background-color: #eaeaea;
  height: 2.2rem;
  margin: 0;
  padding: 5px;
}

.button-ios {
  background-color: #eaeaea;
  height: 2.2rem;

  margin: 0;
  padding: 5px;
}

//.label-md {
//  margin: 3px 8px 13px 16px;
//}

.clsEye {
  background-color: #99c847;
  color: white;
  border-radius: 15px;
  padding: 8px;
}

.clsEye1 {
  background-color: #f0f7ef;
  color: #1e854e;
  border-radius: 15px;
  padding: 6px;

}

.clsEye2 {
  background-color: #f0f7ef;
  color: #808782;
  border-radius: 15px;
  padding: 7px;
  width: 30px;
  height: 30px;
}
.clscloseRed {
  background-color: #fd615c;
  color: white;
  border-radius: 15px;
   padding: 2px;
  //width: 30px;
  //height: 30px;
 font-size: 1.5em;
  display: block;
  text-align: center;
  line-height: 30px;
  margin-top: -2px;

}

.clsCheckGreen {
  background-color: #67c360;
  color: white;
  border-radius: 15px;
   padding: 2px;
  //width: 30px;
  //height: 30px;
  font-size: 1.5em;
  display: block;
  text-align: center;
  line-height: 30px;
  margin-top: -2px;
}

.clsbtwntxt {
  font-size: 0.9em;
  font-weight: bold;
  color: #9a9a9a;
  margin-top: 7px;
}

p.checklist_Varifaction {
  font-weight: bold;
  padding: 0;
  margin: 0px 0px 0px 4px;
}

.content-md {
  color: #000;
  background-color: #fcfcfc;
}

.content-ios {
  color: #000;
  background-color: #fcfcfc;
}

span.number {

  border-radius: 10px;
  background-color: #eaeaea;
  //padding: 4px;
}

p.Khashra_txt {
  color: #9F9F9F;
  font-weight: bold;
}

ion-card {
  border-radius: 20px;
}

.submit_btn {
  width: 139px;
  margin: 0 auto;
}

.btn_login {
  background-color: #6CC757;
  border-radius: 20px;
}

p.img {
  text-align: center;
}

p {
  margin: 0;
}

.login_btn {
  border-radius: 50px;
  width: 205px;
  height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  background: rgba(0, 171, 80, 1);
  background: -moz-linear-gradient(left, rgba(0, 171, 80, 1) 0%, rgba(100, 195, 16, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 171, 80, 1)), color-stop(100%, rgba(100, 195, 16, 1)));
  background: -webkit-linear-gradient(left, rgba(0, 171, 80, 1) 0%, rgba(100, 195, 16, 1) 100%);
  background: -o-linear-gradient(left, rgba(0, 171, 80, 1) 0%, rgba(100, 195, 16, 1) 100%);
  background: -ms-linear-gradient(left, rgba(0, 171, 80, 1) 0%, rgba(100, 195, 16, 1) 100%);
  background: linear-gradient(to right, rgba(0, 171, 80, 1) 0%, rgba(100, 195, 16, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ab50', endColorstr='#64c310', GradientType=1);
  box-shadow: none;
  color: #ffffff;
  border: 1px solid #53bf1c;
}
span.lang_change {
  color: #59AD1C;
  font-weight: 400;
}
span.lang_change_color {
  color: #647B8C;
  font-weight: 400;
}
.colSet{
  padding: 0px 10px;

}
.mobBtn{
  border: 1px solid  #1e854e;
  border-radius: 10px ;box-shadow: none;
  padding: 3px;
  color: #1e854e;
 }
.mobileBtn {
  border: 1px solid #00AB50;
  border-radius: 10px;
  height: 23px;
  margin-top: 5px;
  color: #00AB50;
  font-size: 0.9em;
}
.colRow {
  ion-col {
    border-bottom: 1px solid #eaeaea;
    color: #999999;
  }
  b{
    color: #000000;
  }
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
  color: black;
  font-size: 0.8em;
}ion-label.sc-ion-label-ios-h.sc-ion-label-ios-s.ios.hydrated {
   color: black;
   font-size: 0.8em;
 }
ion-segment-button.md.in-segment.segment-button-has-label.segment-button-has-label-only.segment-button-checked.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.ion-focusable.hydrated {
  --color-checked: #00AB50;
}
.viewDoc{
  padding: 5px;
}