<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="httpClient.currentLanguage=='english'">Horticulture Application List</ion-title>
    <ion-title *ngIf="httpClient.currentLanguage=='hindi'">Horticulture Application List</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="httpClient.changeLanguage()">
                <span class="lang_change" *ngIf="httpClient.currentLanguage=='english'">A<span
                        class="lang_change_color">/अ</span></span>
        <span class="lang_change" *ngIf="httpClient.currentLanguage=='hindi'">अ<span class="lang_change_color">/A</span></span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <!--Skeleton View-->

  <div *ngIf="httpClient.loadingFlag">
    <ion-row style="border-bottom: 1px solid #f4f4f4">
      <ion-col size="3" class="ion-text-center">
        <!--        <img alt="userimg" src="{{data.FarmerPhoto}}" width="50px" height="50px" style="border-radius: 180px"/>-->
        <ion-skeleton-text animated style="width: 50px;height: 50px;border-radius: 180px;margin-left: 10px"></ion-skeleton-text>

      </ion-col>
      <ion-col size="6" style="line-height: 17px">
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

      </ion-col>
      <ion-col size="3">
        <ion-row>
          <ion-col size="12" class="ion-text-center ion-no-padding">
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

          </ion-col>
          <ion-col size="12" class="ion-text-center ion-no-padding">
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

          </ion-col>
          <ion-col size="12" class="ion-text-center ion-margin-top">
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>    <ion-row style="border-bottom: 1px solid #f4f4f4">
    <ion-col size="3" class="ion-text-center">
      <!--        <img alt="userimg" src="{{data.FarmerPhoto}}" width="50px" height="50px" style="border-radius: 180px"/>-->
      <ion-skeleton-text animated style="width: 50px;height: 50px;border-radius: 180px;margin-left: 10px"></ion-skeleton-text>

    </ion-col>
    <ion-col size="6" style="line-height: 17px">
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

    </ion-col>
    <ion-col size="3">
      <ion-row>
        <ion-col size="12" class="ion-text-center ion-no-padding">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

        </ion-col>
        <ion-col size="12" class="ion-text-center ion-no-padding">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

        </ion-col>
        <ion-col size="12" class="ion-text-center ion-margin-top">
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>    <ion-row style="border-bottom: 1px solid #f4f4f4">
    <ion-col size="3" class="ion-text-center">
      <!--        <img alt="userimg" src="{{data.FarmerPhoto}}" width="50px" height="50px" style="border-radius: 180px"/>-->
      <ion-skeleton-text animated style="width: 50px;height: 50px;border-radius: 180px;margin-left: 10px"></ion-skeleton-text>

    </ion-col>
    <ion-col size="6" style="line-height: 17px">
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

    </ion-col>
    <ion-col size="3">
      <ion-row>
        <ion-col size="12" class="ion-text-center ion-no-padding">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

        </ion-col>
        <ion-col size="12" class="ion-text-center ion-no-padding">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

        </ion-col>
        <ion-col size="12" class="ion-text-center ion-margin-top">
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>    <ion-row style="border-bottom: 1px solid #f4f4f4">
    <ion-col size="3" class="ion-text-center">
      <!--        <img alt="userimg" src="{{data.FarmerPhoto}}" width="50px" height="50px" style="border-radius: 180px"/>-->
      <ion-skeleton-text animated style="width: 50px;height: 50px;border-radius: 180px;margin-left: 10px"></ion-skeleton-text>

    </ion-col>
    <ion-col size="6" style="line-height: 17px">
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

    </ion-col>
    <ion-col size="3">
      <ion-row>
        <ion-col size="12" class="ion-text-center ion-no-padding">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

        </ion-col>
        <ion-col size="12" class="ion-text-center ion-no-padding">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

        </ion-col>
        <ion-col size="12" class="ion-text-center ion-margin-top">
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>    <ion-row style="border-bottom: 1px solid #f4f4f4">
    <ion-col size="3" class="ion-text-center">
      <!--        <img alt="userimg" src="{{data.FarmerPhoto}}" width="50px" height="50px" style="border-radius: 180px"/>-->
      <ion-skeleton-text animated style="width: 50px;height: 50px;border-radius: 180px;margin-left: 10px"></ion-skeleton-text>

    </ion-col>
    <ion-col size="6" style="line-height: 17px">
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

    </ion-col>
    <ion-col size="3">
      <ion-row>
        <ion-col size="12" class="ion-text-center ion-no-padding">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

        </ion-col>
        <ion-col size="12" class="ion-text-center ion-no-padding">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

        </ion-col>
        <ion-col size="12" class="ion-text-center ion-margin-top">
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>    <ion-row style="border-bottom: 1px solid #f4f4f4">
    <ion-col size="3" class="ion-text-center">
      <!--        <img alt="userimg" src="{{data.FarmerPhoto}}" width="50px" height="50px" style="border-radius: 180px"/>-->
      <ion-skeleton-text animated style="width: 50px;height: 50px;border-radius: 180px;margin-left: 10px"></ion-skeleton-text>

    </ion-col>
    <ion-col size="6" style="line-height: 17px">
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

    </ion-col>
    <ion-col size="3">
      <ion-row>
        <ion-col size="12" class="ion-text-center ion-no-padding">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

        </ion-col>
        <ion-col size="12" class="ion-text-center ion-no-padding">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

        </ion-col>
        <ion-col size="12" class="ion-text-center ion-margin-top">
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>    <ion-row style="border-bottom: 1px solid #f4f4f4">
    <ion-col size="3" class="ion-text-center">
      <!--        <img alt="userimg" src="{{data.FarmerPhoto}}" width="50px" height="50px" style="border-radius: 180px"/>-->
      <ion-skeleton-text animated style="width: 50px;height: 50px;border-radius: 180px;margin-left: 10px"></ion-skeleton-text>

    </ion-col>
    <ion-col size="6" style="line-height: 17px">
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

    </ion-col>
    <ion-col size="3">
      <ion-row>
        <ion-col size="12" class="ion-text-center ion-no-padding">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

        </ion-col>
        <ion-col size="12" class="ion-text-center ion-no-padding">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>

        </ion-col>
        <ion-col size="12" class="ion-text-center ion-margin-top">
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>

        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  </div>

  <!-- Normal View-->

  <div *ngIf="!httpClient.loadingFlag">
    <div >
      <ion-row style="border-bottom: 1px solid #f4f4f4" *ngFor="let data of getHorticultureAppListData;let i=index;">
        <ion-col size="1"  >
          <!--          <ion-checkbox *ngIf="data.Status=='Assigned'" class="checkBoxCls ion-align-items-start" color="dark" disabled checked="true"></ion-checkbox>-->
          <!--          <ion-checkbox *ngIf="data.Status=='Pending'" class="checkBoxCls ion-align-items-start" color="dark" (ionChange)="pendingSelectCheck(i,data.SubsidySchemeId,data.ApplicationId)" [(ngModel)]="data.isChecked" name="checkedList" ></ion-checkbox>-->
        </ion-col>
        <ion-col size="2">
          <img *ngIf="data.FarmerPhoto" alt="userimg" src="{{data.FarmerPhoto}}" width="50px" height="50px" style="border-radius: 180px"/>
          <img *ngIf="!data.FarmerPhoto" alt="userimg" src="assets/imgs/demoimg.png" width="50px" height="50px" style="border-radius: 180px"/>
          <ion-buttons >
            <ion-button *ngIf="httpClient.currentLanguage=='english'" class="callBtn ion-no-padding">
              <span style="color: green;font-size: 0.8em" class="ion-no-padding" *ngIf="data.IsSubSidyAvailed=='Y'">Availed</span>
              <span style="color: orangered;font-size: 0.8em" class="ion-no-padding" *ngIf="data.IsSubSidyAvailed!='Y'">Pending</span>
            </ion-button>
            <ion-button *ngIf="httpClient.currentLanguage=='hindi'" class="callBtn ion-no-padding">
              <span style="color: green;font-size: 0.8em" class="ion-no-padding" *ngIf="data.IsSubSidyAvailed=='Y'">Availed</span>
              <span style="color: orangered;font-size: 0.8em" class="ion-no-padding" *ngIf="data.IsSubSidyAvailed!='Y'">Pending</span>
            </ion-button>

          </ion-buttons>
        </ion-col>
        <ion-col *ngIf="httpClient.currentLanguage=='english'" size="6" (click)="gotoHortiApplicationDetailsPage(data)"   >
          <span style="font-size: 0.9em;font-weight: bold" class="ion-text-wrap">{{data.ManufacturerName==''?data.ManufacturerDealerName:data.ManufacturerName}}</span><br>
          <span style="font-size: 0.9em" class="ion-text-wrap">{{data.SourceIrrigation}}</span><br>
           <span style="font-size: 0.8em" class="ion-text-wrap"><span style="color: #969696"> Brand : </span>{{data.Brand}} </span><br>
          <span *ngIf="data.IsSubSidyAvailed=='Y'" style="font-size: 0.8em" class="ion-text-wrap"><span style="color: #969696"> Dealer Name : </span>{{data.ManufacturerDealerName}} </span>
        </ion-col>
        <ion-col *ngIf="httpClient.currentLanguage=='hindi'" size="6" (click)="gotoHortiApplicationDetailsPage(data)"   >
          <span style="font-size: 0.9em;font-weight: bold" class="ion-text-wrap">{{data.ManufacturerName==''?data.ManufacturerDealerName:data.ManufacturerName}}</span><br>
          <span style="font-size: 0.9em" class="ion-text-wrap">{{data.SourceIrrigation}}</span><br>
           <span style="font-size: 0.8em" class="ion-text-wrap"><span style="color: #969696"> Brand : </span>{{data.Brand}} </span><br>
          <span *ngIf="data.IsSubSidyAvailed=='Y'" style="font-size: 0.8em" class="ion-text-wrap"><span style="color: #969696"> Dealer Name : </span>{{data.ManufacturerDealerName}} </span>
        </ion-col>
        <ion-col size="3" >
          <ion-row>
            <ion-col size="12" class="ion-text-end ion-no-padding">
              <span style="color:darkgray;font-size: 0.8em">{{data.ApplicationNo}}</span>
            </ion-col>
            <ion-col size="12" class="ion-text-center ion-padding">
              <ion-icon style="font-size: 1.5em;color: #00AB50;font-weight: 700" name="chevron-forward-outline"></ion-icon>

            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
   </div>
</ion-content>
